body {
  margin: 0;
  display: flex;
  min-width: 500px;
  min-height: 550px;
  padding: 3px 10px;
  background-color: #162431;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  nav {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    .active-nav {
      color: white;
      text-decoration: underline;
    }
  }
}

a {
  font-weight: 500;
  color: #7a80ee;
  text-decoration: inherit;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: underline;
}


button {
  display: block;
  border-radius: 0.2em;
  border: 1px solid transparent;
  padding: 0.2em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  width: 50%;
  margin: auto;
  transition: all 0.35s ease;
}
button:hover {
  border-color: #646cff;
  background-color: #555cdf;
  transform: scale(1.02,1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.text-center {
  align-items: center;
}

.text-xl {
  font-size: 1.4em;
  text-align: center;
  margin-top: 10px;
}

.italic {
  font-style: italic;
}
.w-100 {
  width: 100%;
}


.font-bold {
  font-weight: bold;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.my-4 {
  margin: 0 7px;
}
.cursor-pointer {
  cursor: pointer;
}
.ruler {
  border: 1px solid rgb(180, 180, 180);
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.4em;
}


.inputForm {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  grid-area: 5px;
  input[type=number] {
    font-weight: bold;
    padding: 5px 10px;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: transparent;
    color: white;
  }
}

.custom_dropdown {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  div {
    cursor: pointer;
  }
  position: relative;
  .value {
    border: 2px solid #818CF8;
    border-radius: 5px;
    padding: 1px 1.4em;
  }
  .options {
    border: 2px solid #818CF8;
    width: 100%;
    max-height: 250px;
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color: #15222e;
    overflow-y: auto;
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        margin: 0;
        cursor: pointer;
        padding: 0.5px 10px;
        &:hover {
          background-color: #426688;
        }
      }
      .selected {
        background-color: #000000;
      }
    }
  }
}